<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
		<title><%= title %></title>
		
		<!-- CSS for Styling -->
		<link rel='stylesheet' href='/stylesheets/loginStyle.css' />
		
  </head>
  <body>
		<div class="container" id="container">
			<div class="form-container sign-up-container">
				<form method="post" action="/signup">
					<h1>Create Account</h1>
					<input type="text" name="signUpUsername" id="signUpUsername" placeholder="Username" />
					<input type="text" name="signUpName" id="signUpName" placeholder="Name">
					<input type="password" name="signUpPassword" id="signUpPassword" placeholder="Password">
					<input type="text" name="signUpPicture" id="signUpPicture" placeholder="Picture">
					<input type="text" name="signUpAddress" id="signUpAddress" placeholder="Address">
					<button id="signUpButton" type="submit">Sign Up</button>
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form method="post" action="/login">
					<h1>Sign in</h1>
					<input type="text" name="signInUsername" id="signInUsername" placeholder="Username" />
					<input type="password" name="signInPassword" id="signInPassword" placeholder="Password" />
					<button id="signInButton" type="submit">Sign In</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Already have an account?</h1>
						<p>Click here to return to sign in</p>
						<button class="ghost" id="signIn">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>Welcome to Stuff-Sharing!</h1>
						<p>Sign up if you don't already have an account!</p>
						<button class="ghost" id="signUp">Sign Up</button>
					</div>
				</div>
			</div>
		</div>

		<!-- ADDED JavaScript -->
		<script src="javascripts/loginScript.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/0.8.4/purify.min.js"></script>
  </body>
</html>
