@import url('https://fonts.googleapis.com/css?family=Roboto:400,800');

* {
    box-sizing: border-box;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
    margin: 10px;
    text-align: center;
}

#submitButton {
	border-radius: 20px;
	border: 1px solid #C1C8E4;
	background-color: #5F7470;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background: -webkit-linear-gradient(to right, #0066ff, #00ccff);
	background: linear-gradient(to right, #0066ff, #00ccff);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
    text-align: center;
    border-radius: 25px;
}

input, select {
	font: #FFF;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
